:root {
  --hue: 60;
  --saturation: 80%;
  --lightness: 70%;

  --background: #0C5A99;
  --content-font: 'Abel', sans-serif;
  --flower-gap: 40px;
}

body {
  font-family: var(--content-font);
  background-color: var(--background);
  box-sizing: border-box;
  padding: 3ch;
  background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cg fill='%23731536' fill-opacity='0.15' transform='translate(32 32) scale(0.6666667) translate(-32 -32)'%3E%3Cellipse cx='32' cy='16' rx='8' ry='14'/%3E%3Cellipse cx='32' cy='16' rx='8' ry='14' transform='rotate(60 32 32)'/%3E%3Cellipse cx='32' cy='16' rx='8' ry='14' transform='rotate(120 32 32)'/%3E%3Cellipse cx='32' cy='16' rx='8' ry='14' transform='rotate(180 32 32)'/%3E%3Cellipse cx='32' cy='16' rx='8' ry='14' transform='rotate(240 32 32)'/%3E%3Cellipse cx='32' cy='16' rx='8' ry='14' transform='rotate(300 32 32)'/%3E%3Ccircle cx='32' cy='32' r='6'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: var(--flower-gap);
  background-position: top left;
  background-attachment: fixed;
  animation: drift 40s linear infinite;
}

.parent {
  display: grid;
  grid-template-columns: 1fr min(80ch, calc(100% - 16px)) 1fr;
  grid-column-gap: 8px;
  place-items: center;
}

.parent > * {
  grid-column: 2;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -3ch;
}

section[id="previous-year"] > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-block-start: 20%;
}

.by-nuiteq {
  font-size: var(--font-size-3);
}

:where(h1, h4) {
  margin-block: var(--size-4);
  text-shadow: 1px 1px 1px var(--gray-11);
}

:where(p, li) {
  font-size: var(--font-size-4);
}

:where(h3) {
  font-size: var(--font-size-6);
  border-block-start: 2px solid currentColor;
  color: var(--pink-5);
  text-shadow: 1px 1px 1px var(--gray-11);
}

:where(h4) {
  font-size: var(--font-size-5);
  color: var(--lime-5);
  border-block-start: 1px solid currentColor;
}

:where(p, ul) {
  margin-block-end: var(--size-6);
}

:where(p, h1, h3, h4) {
  max-inline-size: 100%;
  text-align: center;
}

:where(a) {
  color: var(--yellow-6);
  text-shadow: 1px 1px 1px var(--gray-11);
}

:where(a):visited {
  color: var(--green-7);
  text-shadow: 1px 1px 1px var(--gray-0);
}

[data-type="name"] > span {
  color: hsl(var(--hue) var(--saturation) var(--lightness));
}

small {
  margin-block-end: var(--size-4);
}

@media(prefers-color-scheme: light) {
  :where(h4, h3, h2, h1, p, li) {
    color: var(--gray-3);
  }

  :where(dialog) {
    background-color: var(--gray-0);
    color: var(--gray-9)
  }

  :where(dialog h4, dialog h3, dialog h2, dialog h1, dialog p, dialog li) {
    color: var(--gray-9);
  }
}

.know-more {
  font-size: var(--font-size-3);
}

button[name="close"] {
  padding: 6px;
  border-radius: 4px;
  margin-block-end: 8px;
}

div[name="previous-year"] {
  padding: 16px;
  border-radius: 4px;
  background-image: var(--gradient-19);
  color: var(--gray-9);
  font-size: var(--font-size-5);
  box-shadow: var(--shadow-5);
  cursor: pointer;
  width: 135px;
  text-align: center;
  outline: 4px double black;
  outline-offset: 3px;
}

.wave {
  width: calc(100% + 6ch);
  box-shadow: var(--shadow-1);
  margin-left: -3ch;
  height: 70px;
}

.wave-bottom {
  margin-bottom: -3ch;
  mask: var(--mask-edge-drip-top);
  -webkit-mask: var(--mask-edge-drip-top);
  background-image: var(--gradient-18);
}

.wave-top {
  margin-top: -3ch;
  mask: var(--mask-edge-drip-bottom);
  -webkit-mask: var(--mask-edge-drip-bottom);
  background: var(--blue-11);
}

.remaining-funds {
  margin-top: 250px;
}

.mt-5 {
  margin-top: 20px;
}

.reset-m {
  margin: 0px;
}

.reset-mb {
  margin-bottom: 0px;
}

.br-4 {
  border-radius: 4px;
}

.yearly-contrib > li {
  transition: color 0.2s ease-in;
}

.pending {
  padding: 20px;
  background: var(--blue-11);
  box-shadow: var(--shadow-4);
}

.form {
  background-color: var(--red-7);
  border-radius: 50%;
  corner-shape: squircle;
  box-shadow: var(--shadow-5);
  cursor: pointer;
  display: inline-block;
  animation: small-vibrate 1s linear infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden
  > a {
    color: var(--jungle-4);
  }
}

@keyframes small-vibrate {
  0% { transform: translate(0, 0); }
  25% { transform: translate(-1px, -1px); }
  50% { transform: translate(1px, 1px); }
  75% { transform: translate(-1px, 1px); }
  100% { transform: translate(0, 0); }
}

@keyframes drift{
  from { background-position: 0 0; }
  to   { background-position: 0px 600px; }
}
